src/node_red_flows/.flows_chat.json.backup
[{"id":"ad5b488a.727178","type":"tab","label":"Return_RIP","disabled":false,"info":""},{"id":"27b916cb.4927fa","type":"designer_node_existing","name":"group (group)","outputs":1,"z":"ad5b488a.727178","x":-76,"y":19,"wires":[]},{"id":"3e553867.d401f8","type":"designer_node_existing","name":"Continue Return (group)","outputs":1,"z":"ad5b488a.727178","x":54,"y":1479,"wires":[]},{"id":"ded7d1f2.1eedc","type":"designer_node_existing","name":"Check Return Sanctions (group)","outputs":1,"z":"ad5b488a.727178","x":14,"y":1159,"wires":[]},{"id":"7386c44c09e442b3","type":"designer_node_existing","name":"CheckAndSendResp (group)","outputs":1,"z":"ad5b488a.727178","x":454,"y":1439,"wires":[]},{"id":"75a26d7d21150a29","type":"designer_node_existing","name":"Return  Persist Err (group)","outputs":1,"z":"ad5b488a.727178","x":504,"y":1599,"wires":[]},{"id":"f85708ae.c825c8","type":"link in","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"RET-RIP-APP-MOD","links":["727b0de7.ef3164","c932d177.96225","23f9d4a.0b40f2c","abfa8f09.aba69"],"x":45,"y":380,"wires":[["568514ac.97367c"]]},{"id":"dfe3242e.6ecb78","type":"link in","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"RET-RIP-RETRY","links":["90b926f5.685ba8"],"x":45,"y":340,"wires":[["6094d3f3.fa466c"]]},{"id":"b8105246.7ce93","type":"link in","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","links":[],"x":-35,"y":400,"wires":[[]]},{"id":"a08af3cf.39b46","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"RIP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":150,"y":120,"wires":[]},{"id":"a3d9ec3c.87113","type":"designer_node_existing","name":"rabbit-mq-ack-basic (rabbit-mq-ack-basic)","outputs":1,"z":"ad5b488a.727178","x":1080,"y":120,"wires":[]},{"id":"4f0aae68.11093","type":"switch","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"continueRetRej?","property":"continueRetRej","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":160,"wires":[["a3d9ec3c.87113"],["ef1dfb60.ff72c8"]]},{"id":"fc124e24.5d0a5","type":"designer_node_existing","name":"swift-derive-ret-rej-for-adv-cov (swift-derive-ret-rej-for-adv-cov)","outputs":1,"z":"ad5b488a.727178","x":790,"y":120,"wires":[["4f0aae68.11093","fc57a8ca.9732b8"]]},{"id":"fc57a8ca.9732b8","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"swift-derive-ret-rej","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":80,"wires":[]},{"id":"55324f17.c6fe","type":"designer_node_existing","name":"create-sanctions-info (create-sanctions-info)","outputs":1,"z":"ad5b488a.727178","x":340,"y":1200,"wires":[["54b16c58.6de2a4"]]},{"id":"9d35cc57.c9378","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"RCP out","links":["9c669a1a.e69288"],"x":675,"y":220,"wires":[]},{"id":"ef1dfb60.ff72c8","type":"switch","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"IS RCP?","property":"retEntityDtls.serviceId","propertyType":"msg","rules":[{"t":"eq","v":"RCP","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":220,"wires":[["9d35cc57.c9378"],["15ad523.32fb6ae"]]},{"id":"96915ca1.1caed","type":"link in","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"RIP in","links":["f8d6eee4.6078d"],"x":295,"y":280,"wires":[["15ad523.32fb6ae"]]},{"id":"d3c7330d.824ff","type":"designer_node_existing","name":"swift-derive-ret-service-id (swift-derive-ret-service-id)","outputs":1,"z":"ad5b488a.727178","x":510,"y":160,"wires":[["49c3118c.7cd85","fc124e24.5d0a5"]]},{"id":"1caf03a4.7c510c","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":60,"wires":[]},{"id":"49c3118c.7cd85","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"880ee8c.5e2f618","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"cea23dcb.1b88e","type":"designer_node_existing","name":"create-suspense-info (create-suspense-info)","outputs":1,"z":"ad5b488a.727178","x":800,"y":600,"wires":[["53cb470d.29d618","880ee8c.5e2f618"]]},{"id":"8391adc1.88331","type":"switch","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"decision rule required ?","property":"sanctionInfo.decisionRuleReq","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":620,"wires":[["1f0748a4.dbc8c7"],["cea23dcb.1b88e"]],"inputLabels":["msg"],"outputLabels":["Error exists","Otherwise"]},{"id":"a8469052.3362b","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","links":["1b873c23.83a064"],"x":795,"y":560,"wires":[]},{"id":"cb52ee56.be473","type":"designer_node_existing","name":"return-lead-day-val (return-lead-day-val)","outputs":1,"z":"ad5b488a.727178","x":550,"y":340,"wires":[["60793600.f9cfe8","4bf9eac7.def9a4"]]},{"id":"4bf9eac7.def9a4","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"Lead day check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":340,"wires":[]},{"id":"abefb99a.5b41a8","type":"switch","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"Error?","property":"errors.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":600,"wires":[["1f0748a4.dbc8c7"],["83833e8b.dda73"]],"inputLabels":["msg"],"outputLabels":["Error exists","Otherwise"]},{"id":"83833e8b.dda73","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","links":["1b873c23.83a064"],"x":335,"y":600,"wires":[]},{"id":"e56f2cf7.5b52a","type":"function","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"Set Decision","func":"msg.decision = 'RETURN';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":840,"wires":[["cf39fa63.5af658"]]},{"id":"235ce461.b89e2c","type":"designer_node_existing","name":"inboundReturnProcessSanctionsResponse (inboundReturnProcessSanctionsResponse)","outputs":5,"z":"ad5b488a.727178","x":250,"y":840,"wires":[["aea2f748.60d628"],["aea2f748.60d628"],["e56f2cf7.5b52a"],["669beae0.674624"],["87c8e9c.cd1a918"]]},{"id":"bd93e711.8af8b8","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"DRRVDEBUG8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":680,"wires":[]},{"id":"aea2f748.60d628","type":"switch","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"Error?","property":"errors.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":680,"wires":[["bd93e711.8af8b8","8391adc1.88331"],["9b954cba.c6d4"]],"inputLabels":["msg"],"outputLabels":["Error exists","Otherwise"]},{"id":"9b954cba.c6d4","type":"function","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"Payment Order Ready","func":"if(msg.sanctionsAdditionalInfo && msg.sanctionsAdditionalInfo.suspense) {\n    msg.suspense= msg.sanctionsAdditionalInfo.suspense\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":760,"wires":[["57941975.c93818"]]},{"id":"91300213.427d2","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"Sanctions Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":700,"wires":[]},{"id":"57941975.c93818","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","links":["e89a1f20.27609"],"x":755,"y":740,"wires":[]},{"id":"22c98814.4e72b8","type":"designer_node_existing","name":"Sanction Response (receive-message)","outputs":1,"z":"ad5b488a.727178","x":110,"y":700,"wires":[["91300213.427d2","235ce461.b89e2c"]]},{"id":"87c8e9c.cd1a918","type":"designer_node_existing","name":"Ack Seize Response (rabbit-mq-ack-basic)","outputs":1,"z":"ad5b488a.727178","x":580,"y":1020,"wires":[]},{"id":"230d8d16.3c8532","type":"designer_node_existing","name":"Wash Seize Txn Posting Queue (send-message)","outputs":1,"z":"ad5b488a.727178","x":630,"y":960,"wires":[[]]},{"id":"669beae0.674624","type":"designer_node_existing","name":"processSeizeTxn (processSeizeTxn)","outputs":1,"z":"ad5b488a.727178","x":590,"y":900,"wires":[["230d8d16.3c8532"]]},{"id":"cf39fa63.5af658","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"","links":["58fa4def.92c414"],"x":635,"y":840,"wires":[]},{"id":"c644e53c.aa80e8","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"REJ-RET","links":["58fa4def.92c414"],"x":795,"y":520,"wires":[]},{"id":"6094d3f3.fa466c","type":"designer_node_existing","name":"retry-ret-from-suspense (retry-ret-from-suspense)","outputs":1,"z":"ad5b488a.727178","x":210,"y":340,"wires":[["cb52ee56.be473"]]},{"id":"53cb470d.29d618","type":"designer_node_existing","name":"Suspense Queue (send-message-no-prefix)","outputs":1,"z":"ad5b488a.727178","x":790,"y":640,"wires":[[]]},{"id":"caf2b5d1.760ea8","type":"switch","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"Decision","property":"decision","propertyType":"msg","rules":[{"t":"eq","v":"RETURN","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":560,"wires":[["c644e53c.aa80e8"],["a8469052.3362b"]]},{"id":"1f0748a4.dbc8c7","type":"designer_node_existing","name":"exec-decison-rule-ret (exec-decison-rule-ret)","outputs":1,"z":"ad5b488a.727178","x":480,"y":580,"wires":[["caf2b5d1.760ea8"]]},{"id":"568514ac.97367c","type":"designer_node_existing","name":"approve-modify-ret-po-from-susp (approve-modify-ret-po-from-susp)","outputs":1,"z":"ad5b488a.727178","x":240,"y":380,"wires":[["cb52ee56.be473"]]},{"id":"630afec5.9774c","type":"debug","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"enrich ret fx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":380,"wires":[]},{"id":"60793600.f9cfe8","type":"designer_node_existing","name":"enrich-ret-fx (enrich-ret-fx)","outputs":1,"z":"ad5b488a.727178","x":550,"y":380,"wires":[["630afec5.9774c","67d6fa21.433de4"]]},{"id":"610ef785.6fd9d8","type":"designer_node_existing","name":"Get Pacs004 ISO RIP (receive-message)","outputs":1,"z":"ad5b488a.727178","x":120,"y":60,"wires":[["d543eab1.ee8168","a08af3cf.39b46"]]},{"id":"15ad523.32fb6ae","type":"designer_node_existing","name":"Orig PO Check (org-po-ret-check)","outputs":1,"z":"ad5b488a.727178","x":760,"y":260,"wires":[["cb52ee56.be473"]]},{"id":"a23c077f.fb4078","type":"designer_node_existing","name":"Return Event Creation (ret-entity-creation)","outputs":3,"z":"ad5b488a.727178","x":560,"y":480,"wires":[["c53774c003e85dbf"],["450477de0e80efeb"],["94ee6e38d7b1d268"]]},{"id":"a59726af.35b008","type":"designer_node_existing","name":"Map pacs.004 ISO to Ret Entity (map-iso-to-ret-po)","outputs":1,"z":"ad5b488a.727178","x":450,"y":120,"wires":[["d3c7330d.824ff"]]},{"id":"d543eab1.ee8168","type":"designer_node_existing","name":"val-return-req (val-return-req)","outputs":1,"z":"ad5b488a.727178","x":400,"y":60,"wires":[["1caf03a4.7c510c","a59726af.35b008"]]},{"id":"aa1b5808.e9d198","type":"debug","z":"ad5b488a.727178","g":"3e553867.d401f8","name":"Return Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":1600,"wires":[]},{"id":"e89a1f20.27609","type":"link in","z":"ad5b488a.727178","g":"3e553867.d401f8","name":"Continue Return","links":["57941975.c93818","d9170524.a21bf8"],"x":95,"y":1520,"wires":[["46c8e644.9a60d8","aa1b5808.e9d198"]]},{"id":"46c8e644.9a60d8","type":"designer_node_existing","name":"Return Ready Q (send-message)","outputs":1,"z":"ad5b488a.727178","x":300,"y":1520,"wires":[[]]},{"id":"596d7957.dd73a8","type":"function","z":"ad5b488a.727178","g":"ded7d1f2.1eedc","name":"Sanctions Data","func":"return msg.retEntityData;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1380,"wires":[["d9170524.a21bf8"]]},{"id":"54b16c58.6de2a4","type":"designer_node_existing","name":"inboundReturnCheckSanctions (inboundReturnCheckSanctions)","outputs":1,"z":"ad5b488a.727178","x":210,"y":1260,"wires":[["b493a3.ecdb4c6","a6471d00.23861"]]},{"id":"a6471d00.23861","type":"debug","z":"ad5b488a.727178","g":"ded7d1f2.1eedc","name":"Return Check Sanctions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":1260,"wires":[]},{"id":"d9170524.a21bf8","type":"link out","z":"ad5b488a.727178","g":"ded7d1f2.1eedc","name":"","links":["e89a1f20.27609"],"x":395,"y":1380,"wires":[]},{"id":"b493a3.ecdb4c6","type":"switch","z":"ad5b488a.727178","g":"ded7d1f2.1eedc","name":"","property":"sanctionsData","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":1340,"wires":[["4b9e2a93.d12c14"],["596d7957.dd73a8"]]},{"id":"4b9e2a93.d12c14","type":"function","z":"ad5b488a.727178","g":"ded7d1f2.1eedc","name":"Sanctions Data","func":"msg.sanctionsData.deliveryTag = msg.retEntityData.deliveryTag;\nmsg.sanctionsData.msgContextHdr=msg.retEntityData.msgContextHdr;\nreturn msg.sanctionsData;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1320,"wires":[["984c58b0.10a3c8"]]},{"id":"9a5c1633.940ad8","type":"debug","z":"ad5b488a.727178","g":"ded7d1f2.1eedc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1320,"wires":[]},{"id":"984c58b0.10a3c8","type":"designer_node_existing","name":"Send to Sanctions Queue (send-message-no-prefix)","outputs":1,"z":"ad5b488a.727178","x":490,"y":1320,"wires":[["9a5c1633.940ad8"]]},{"id":"1b873c23.83a064","type":"link in","z":"ad5b488a.727178","g":"ded7d1f2.1eedc","name":"CHK-SANC-LINKIN","links":["83833e8b.dda73","a8469052.3362b","5abe441e.b70acc","6792a834.e33598"],"x":55,"y":1200,"wires":[["55324f17.c6fe"]]},{"id":"67d6fa21.433de4","type":"designer_node_existing","name":"service-break-stp-rule (service-break-stp-rule)","outputs":1,"z":"ad5b488a.727178","x":560,"y":420,"wires":[["a23c077f.fb4078"]]},{"id":"94ee6e38d7b1d268","type":"designer_node_existing","name":"notify-eni-on-return (notify-eni-on-return)","outputs":1,"z":"ad5b488a.727178","x":250,"y":540,"wires":[["abefb99a.5b41a8"]]},{"id":"31c8e30c.f9411c","type":"switch","z":"ad5b488a.727178","name":"Errors","property":"errors.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1760,"wires":[["a28976c3.d9d6a8"],["a083a6f8.cd2338"]]},{"id":"a083a6f8.cd2338","type":"designer_node_existing","name":"log-error (log-error)","outputs":1,"z":"ad5b488a.727178","x":440,"y":1800,"wires":[["479771ae.71623"]]},{"id":"479771ae.71623","type":"debug","z":"ad5b488a.727178","name":"Reject Event Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":1800,"wires":[]},{"id":"84a056c7.e543b8","type":"catch","z":"ad5b488a.727178","name":"","scope":null,"uncaught":false,"x":110,"y":1760,"wires":[["31c8e30c.f9411c"]]},{"id":"a28976c3.d9d6a8","type":"designer_node_existing","name":"Suspense Queue (send-message-no-prefix)","outputs":1,"z":"ad5b488a.727178","x":450,"y":1720,"wires":[[]]},{"id":"c53774c003e85dbf","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"return-rip-persists-err-out","mode":"link","links":["92161db5d55eaf69"],"x":765,"y":440,"wires":[]},{"id":"450477de0e80efeb","type":"link out","z":"ad5b488a.727178","g":"27b916cb.4927fa","name":"return-rip-mh-resp-out","mode":"link","links":["3498ae9ce7ad7354"],"x":765,"y":480,"wires":[]},{"id":"3498ae9ce7ad7354","type":"link in","z":"ad5b488a.727178","g":"7386c44c09e442b3","name":"return-rip-mh-resp","links":["450477de0e80efeb"],"x":495,"y":1480,"wires":[["b07ae2bf65827500"]]},{"id":"b07ae2bf65827500","type":"switch","z":"ad5b488a.727178","g":"7386c44c09e442b3","name":"Check-ManualReturn","property":"retEntityDtls.initgMode","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":1480,"wires":[["7468103754b5fd17"]]},{"id":"7468103754b5fd17","type":"switch","z":"ad5b488a.727178","g":"7386c44c09e442b3","name":"From suspense ?","property":"suspense","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":1480,"wires":[["93c4c26a2da5aea3"]]},{"id":"93c4c26a2da5aea3","type":"designer_node_existing","name":"return-mh-response (return-mh-response)","outputs":1,"z":"ad5b488a.727178","x":640,"y":1540,"wires":[["176af872e2e26bfb"]]},{"id":"176af872e2e26bfb","type":"designer_node_existing","name":"FMH Response queue (send-message-no-prefix)","outputs":1,"z":"ad5b488a.727178","x":890,"y":1540,"wires":[[]]},{"id":"78eb2c10c5080fdc","type":"switch","z":"ad5b488a.727178","g":"75a26d7d21150a29","name":"persist Err ?","property":"persistErr","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1640,"wires":[["03f405c141db8de0"]]},{"id":"92161db5d55eaf69","type":"link in","z":"ad5b488a.727178","g":"75a26d7d21150a29","name":"return-rip-persists-err","links":["c53774c003e85dbf"],"x":545,"y":1640,"wires":[["78eb2c10c5080fdc"]]},{"id":"03f405c141db8de0","type":"designer_node_existing","name":"technical-error (technical-error)","outputs":1,"z":"ad5b488a.727178","x":860,"y":1640,"wires":[[]]}]